@charset "utf-8";

.view-productDetail {
	> h1 {
		font-size: 30px;
		margin-bottom: 20px;
		color: #3c404c + 30;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #3c404c + 50;
		display: -webkit-box;
		-webkit-box-align: center;
		p, button {
			display: block;
			margin-right: 10px;
		}
	}
	em {
		padding-left: 10px;
		color: #999;
		font-style: normal;
	}
}