@charset "utf-8";

.view-productDetail {
	> h1 {
		font-size: 30px;
		margin-bottom: 20px;
		color: #3c404c + 30;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #3c404c + 50;
		display: -webkit-box;
		-webkit-box-align: center;
		p, button {
			display: block;
			margin-right: 10px;
		}
	}
	em {
		padding-left: 10px;
		color: #999;
		font-style: normal;
	}
	.classSelect {
		width: 400px;
	}
	.console {
		text-align: center;
		a {
			display: inline-block;
			margin: 0 5px;
			color: #20a0ff;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.swipeimgs {
		> .box {
			display: none;
		}
	}
	.swipeimgsTable {
		.cell {
			padding: 10px;
		}
		img {
			display: block;
			max-width: 300px;
		}
	}

	.react-mde {
		width: 400px;
	}
	.markdown-help {
		display: -webkit-box;
		-webkit-box-align: center;
		svg, span {
			display: block !important;
			line-height: 1;
		}
	}
	.mde-preview {
		* {
			line-height: 1.5;
			margin: 0;
		}
		h1, h2 {
			margin-bottom: 5px;
			padding-bottom: 0;
		}
		ul {
			list-style-type: unset;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}