@charset "utf-8";

.view-order {
	> h1 {
		font-size: 30px;
		margin-bottom: 20px;
		color: #3c404c + 30;
	}
	.table {
		margin-bottom: 10px;
		tr:hover {
			.console {
				opacity: 1;
			}
		}
		.hover-row td {
			background: #fffff0 !important;
		}
		.address {
			padding: 15px 0;
		}
		.status {
			display: -webkit-box;
			-webkit-box-align: center;
			-webkit-box-pack: center;
			i {
				background: #00bb44;
				display: block;
				width: 8px;
				height: 8px;
				margin-right: 5px;
				border-radius: 50%;
				&.waiting {
					background: #ff4949;
				}
				&.online {
					background: #00bb44;
				}
				&.closed {
					background: #ccc
				}
			}
		}
	}
	.pager {
		margin-bottom: 10px;
		overflow: hidden;
		> div {
			float: right;
			padding: 0;
		}
	}
	.console {
		text-align: center;
		opacity: 0;
		a {
			display: inline-block;
			margin: 0 5px;
			color: #20a0ff;
			opacity: 1;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}