@charset "utf-8";

.view-orderDetail {
	> h1 {
		font-size: 30px;
		margin-bottom: 20px;
		color: #3c404c + 30;
	}
	h6 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #3c404c + 50;
	}
	.item {
		border-left: 1px solid #dfe6ec;
		border-top: 1px solid #dfe6ec;
		border-right: 1px solid #dfe6ec;
		li {
			display: block;
			overflow: hidden;
			border-bottom: 1px solid #dfe6ec;
		}
		label {
			background: #f7f9fc;
			display: block;
			float: left;
			border-right: 1px solid #dfe6ec;
			padding: 5px 18px;
			font-size: 14px;
			font-weight: bold;
			width: 200px;
		}
		p {
			display: block;
			float: left;
			padding: 5px 18px;
			font-size: 14px;
		}
		strong {
			color: #20a0ff;
		}
	}
	.handle {
		
	}
}