@charset "utf-8";

.app-footer {
	display: -webkit-box;
	height: 1.1rem;
	a {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		width: 100%;
		height: 1.1rem;
		-webkit-box-flex: 1;
		text-align: center;
		position: relative;
		sub {
			position: absolute;
			left: 55%;
			top: 10%;
			color: #fff;
			font-size: 0.2rem;
			background: #ff4949;
			line-height: 1;
			display: -webkit-box;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			min-width: 1.4em;
			padding: 0.2em;
			border-radius: 1em;
		}
	}
	i {
		display: block;
		width: 0.46rem;
		height: 0.46rem;
		background-size: 100% 100%;
		margin-bottom: 0.05rem;
	}
	.icon-home {
		background-image: url('../../assets/imgs/nav-home.png');
	}
	.icon-category {
		background-image: url('../../assets/imgs/nav-category.png');
	}
	.icon-shoppingcart {
		background-image: url('../../assets/imgs/nav-shoppingcart.png');
	}
	.icon-profile {
		background-image: url('../../assets/imgs/nav-profile.png');
	}

	.active {
		p {
			color: #5fc37f;
		}
		.icon-home {
			background-image: url('../../assets/imgs/nav-home-act.png');
		}
		.icon-category {
			background-image: url('../../assets/imgs/nav-category-act.png');
		}
		.icon-shoppingcart {
			background-image: url('../../assets/imgs/nav-shoppingcart-act.png');
		}
		.icon-profile {
			background-image: url('../../assets/imgs/nav-profile-act.png');
		}
	}
	

	p {
		display: block;
		font-size: 0.22rem;
		color: #666;
		line-height: 1;
	}
}