@charset "utf-8";

.view-category {
	.body {
		padding: 0;
		overflow: hidden;
		display: -webkit-box;
	}

	.category {
		width: 2.2rem;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		a {
			display: -webkit-box;
			-webkit-box-align: center;
			color: #333;
			height: 1rem;
			overflow: hidden;
			padding-left: 0.3rem;
			border-bottom: 1px solid #f2f4f9 - 20;
			&.active {
				background: #fff;
			}
			p {
				font-size: 0.26rem;
				display: block;
			}
			span {
				display: block;
				color: #fff;
				font-size: 0.2rem;
				padding: 0.05rem 0.08rem;
				margin-left: 0.1rem;
				border-radius: 0.1rem;
			}
		}
	}

	.list {
		-webkit-box-flex: 1;
		background: #fff;
		padding: 0.2rem;
		.row {
			display: -webkit-box;
		}
	}

	.empty-list {
		-webkit-box-flex: 1;
		background: #fff;
		display: -webkit-box;
		-webkit-box-pack: center;
		-webkit-box-align: center;
		.empty {
			color: #ccc;
			font-size: 0.26rem;
		}
	}

}





















